.choresText {
   color: red;
   font-size: 15px;
   font-style: italic;
   text-align: left;

}

.choresHeading {
   color: blue;
   text-align: left;
   font-size: large;
   text-decoration: underline;

}